<h1 class="center">Package Data for
    <%= package.country%>
  </h1>
  
  <table class="table">
    <tr>
      <th>Country</th>
      <td>
        <%= package.country%>
      </td>
    </tr>
    <tr>
      <th>Price</th>
      <td>
        <%= package.price%>
      </td>
    </tr>
    <tr>
      <th>Dates</th>
      <td>
        <%= package.dates%>
      </td>
    </tr>
  </table>
  

  <div>
    <a class="button" href="<%=`/travelPackages/${package._id}/edit`%>">
      Edit Package Details
    </a>
  </div>
  <div>
    <a class="button" href="<%= `/travelPackages/${package._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')" a>Delete</a>
  </div>
  <div>
    <a class="button" href="/travelPackages">View all packages</a>
  </div>
  